@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
  color: #010400;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #096568;
}
h4 {
  font-size: 16px;
  font-weight: 700;
  color: #7c7c7c;
  margin: 0px;
  padding: 0px;
}
p {
  font-size: 14px;
  font-weight: 500;
  color: #7c7c7c;
  margin: 0px;
  padding: 0px;
}
label {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #096568;
}
a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  color: #096568;
}
button {
  background-color: #00c5cd;
  width: 432px;
  height: 56px;
  border-radius: 12px;
  color: #f5e6ba;
  font-weight: bold;
  font-size: 16px;
  border-color: #f1c541;
  border-width: 2px;
  border-style: outset;
  cursor: pointer;
}
button.small {
  background-color: #f4f4f9;
  color: #010400;
  font-size: 14px;
  border-radius: 8px;
  width: 90px;
  height: 36px;
}
input {
  background-color: #f1f1eb;
  width: 100%;
  height: 48px;
  border-color: #06bee1;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  color: #010400;
  font-size: 16px;
  padding: 6px;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.mt {
  margin-top: 16px;
}

.mt.larger {
  margin-top: 32px;
}

.mt.large {
  margin-top: 24px;
}

.mt.small {
  margin-top: 12px;
}

.mt.smaller {
  margin-top: 6px;
}

.logo {
  width: 130px;
  height: auto;
  border-radius: 70px;
  border-style: outset;
  border-color: #00c5cd;
}

.auth-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00c5cd;
}
.auth-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: auto;
  min-height: 440px;
  border-radius: 24px;
  background-color: #f4f4f9;
  border-style: outset;
  border-color: #096568;
}
.auth-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 24px;
}
